body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App {
  text-align: center;
}

ul {
  list-style-type: none;
}

button {
  background: black;
  color: aliceblue;
  border-radius: 10px;
  padding: 10px 50px;
  margin: 40px 0;
}

.content {
  margin: 0 60px;
  background: seagreen;
  border-radius: 10px;
}